@page "/products"
@using IMS.UseCases.Inventories.Interfaces;
@using static IMS.WebApp.Controls.Common.AutoCompleteComponent;
@inject NavigationManager navigationManager
@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<h3>Product List</h3>
<br />
<SearchProductComponent OnSearchProduct="OnSearchProduct"></SearchProductComponent>

<br />
<ProductListComponent SearchTerm="@searchTerm"></ProductListComponent>
<br />
<button type="button" class="btn btn-primary" @onclick="AddProduct">Add Product</button>

@code {
    private string searchTerm = string.Empty;

    private void OnSearchProduct(string searchTerm)
    {
        this.searchTerm = searchTerm;
    }

    private void AddProduct()
    {
        navigationManager.NavigateTo("/addProduct");
    }

}
